In [1]:
## 문자열 내장 함수
a = " Hello World "

In [4]:
## 문자열을 모두 대문자로 변경
print(a.upper())
## 문자열을 모두 소문자로 변경
print(a.lower())
## 대문자를 소문자로 소문자를 대문자로 변경
print(a.swapcase())
## 단어의 첫글자만 대문자로 변경
print(a.title())
# 데이터의 정형화를 위해서 문자열 대소문자 구분

 HELLO WORLD
 hello world
 hELLO wORLD
 Hello World

In [5]:
a == 'Hello World'

False

In [9]:
## 문자열에서 좌우의 공백을 제거
# 벗겨내다 -> strip() -> 인자의 값을 기본값을 사용 -> 공백 제거
# print 안쓰는 이유는 공백을 확인하기 위해서 
a.strip()

'Hello World'

In [11]:
# 문자열에서 좌측의 공백을 제거
a.lstrip()

'Hello World '

In [12]:
# 문자열에서 우측의 공백을 제거
a.rstrip()

' Hello World'

In [19]:
price = "$100"
# price를 숫자의 형태로 변경

In [13]:
# 에러 발생
# $가 숫자로 변경이 되지 않기 때문
int(price)

NameError: name 'price' is not defined

In [20]:
## price를 숫자로 바꾸기 위해서
## 왼쪽에 있는 $ 벗겨낸다.
price = price.lstrip('$')
print(price, type(price))
price = int(price)
print(price, type(price))

100 <class 'str'>
100 <class 'int'>

In [21]:
test_str = "\n \t text \t \n"
# \n : enter(줄바꿈) , \t : tab

In [23]:
test_str.strip()

'text'

In [24]:
## strip() 함수는 문자가 시작되기 전, 문자가 끝나고 나서 데이터들을 제거
## 문자열 사이에 데이터들을 변경해주기 위한 함수(공백도 가능)
## replace(변경할 문자열, 치환 문자열)
a.replace('Hello', 'Hi')

' Hi World '

In [25]:
## 공백을 제거할 이유로 replace()
a.replace(" ", "")

'HelloWorld'

In [26]:
test_str2 = "Hello \n World"

In [27]:
print(test_str2)

Hello
 World

In [28]:
# 문자열 사이의 공백이 제거되지 않는다.
test_str2.strip()

'Hello \n World'

In [29]:
test_str2.replace('\n', '')

'Hello  World'

In [30]:
# 문자열을 리스트로 변경
a = 'test test2 test3'

In [ ]:
# 문자 하나 하나씩을 각원소로 하여 리스트 생성
list(a)

In [32]:
# 문자열에서 특정 문자로 글자를 나눠서 리스트로 생성
# split()
a.split()

['test', 'test2', 'test3']

In [33]:
b = "20/30/40"

In [35]:
b.split('/')

['20', '30', '40']

In [36]:
# 문자열에서 비교 연산을 하는 함수
query = "select * from table"
query2 = """
     SELECT 
      * 
     from 
     table
"""

In [48]:
# query, query2 가 select로 시작하는가?
query.strip().lower()[:6] == 'select'

True

In [47]:
query2.strip().lower()[:6] == 'select'

True

In [56]:
query.lower().split()[0] == 'select'

True

In [55]:
query2.lower().split()[0] == 'select'

True

In [59]:
query.lower().strip().startswith('select')

True

In [62]:
query2.lower().strip().startswith('select')  #startswith 시작이 ~와 같은, endswith 끝이 ~와 같은

True